@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div style="width: 1440px; height: 1024px; position: relative; background: white">
    <div style="width: 1440px; height: 74px; left: 0px; top: 0px; position: absolute; background: #D9D9D9"></div>

    <a href="lien_pour_help_and_contact">
        <div style="width: 130px; height: 16px; left: 387px; top: 17px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 300; word-wrap: break-word">Help and contact</div>
    </a>

    <a href="lien_pour_sell">
        <div style="width: 35px; height: 16px; left: 865px; top: 17px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 300; word-wrap: break-word">Sell</div>
    </a>

    <a href="lien_pour_cart">
        <div style="width: 40px; height: 16px; left: 996px; top: 16px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 300; word-wrap: break-word">Cart</div>
    </a>

    <div style="width: 1440px; height: 116px; left: 0px; top: 88px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
        <div style="width: 1440px; height: 116px; background: #D9D9D9"></div>
    </div>

    <a href="lien_pour_sign_in">
        <div style="width: 51px; height: 20px; left: 79px; top: 17px; position: absolute; color: #1861EE; font-size: 16px; font-family: Inter; font-weight: 300; word-wrap: break-word">Sign in</div>
    </a>

    <div style="width: 47px; height: 0px; left: 81px; top: 34px; position: absolute; border: 1px #1861EE solid"></div>

    <a href="lien_pour_register">
        <div style="width: 70px; height: 16px; left: 159px; top: 17px; position: absolute; color: #1861EE; font-size: 16px; font-family: Inter; font-weight: 300; word-wrap: break-word">Register</div>
    </a>

    <div style="width: 61px; height: 0px; left: 158px; top: 35px; position: absolute; border: 1px #1861EE solid"></div>
    <div style="width: 20px; height: 15px; left: 138px; top: 17px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 300; word-wrap: break-word">or</div>
    <div style="width: 150px; height: 53px; left: 268px; top: 117px; position: absolute">
        <div style="width: 80px; height: 40px; left: 12px; top: 9px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Shop by category</div>
    </div>
    <div style="width: 200px; height: 40px; left: 550px; top: 125px; position: absolute;">
        <input type="text" placeholder="Search..." style="width: 100%; height: 100%; box-sizing: border-box; padding: 5px;">
    </div>
    <div style="width: 161px; height: 43px; left: 935px; top: 119px; position: absolute; background: #1584D4; border-radius: 20px"></div>
    <button style="width: 90px; height: 31px; left: 991px; top: 127px; position: absolute; font-size: 24px; font-family: Inter; font-weight: 400; background-color: #1861EE; color: white; border: none; cursor: pointer;">
        Search
    </button>
    <div style="width: 1389px; height: 306px; left: 25px; top: 258px; position: absolute; background: linear-gradient(180deg, rgba(37.73, 137.92, 169.56, 0.70) 0%, rgba(37.73, 137.92, 169.56, 0) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%); border: 1px white solid">
        <div style="width: 50px; height: 95.24px; left: 26px; top: 105px; position: absolute; background: #212121"></div>
        <div style="width: 50px; height: 95.24px; left: 1364px; top: 200.24px; position: absolute; transform: rotate(-180deg); transform-origin: 0 0; background: #212121"></div>
        <div style="width: 540px; height: 59px; left: 147px; top: 35px; position: absolute; color: black; font-size: 36px; font-family: Inter; font-style: italic; font-weight: 500; word-wrap: break-word">Find your hidden gems online</div>
        <div style="width: 515px; height: 132px; left: 159px; top: 108px; position: absolute; color: #D9D9D9; font-size: 36px; font-family: Inter; font-style: italic; font-weight: 500; word-wrap: break-word">Buy safely with SecureShop: the e-commerce website you can trust</div>
        <img style="width: 412px; height: 250px; left: 788px; top: 28px; position: absolute" src="https://via.placeholder.com/412x250" />
    </div>
    <div style="width: 200px; height: 200px; left: 22px; top: 729px; position: absolute; background: #F7FCFF; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset; border-radius: 9999px; border: 1px #120EDF solid"></div>
    <div style="width: 200px; height: 200px; left: 320px; top: 729px; position: absolute; background: #D9D9D9; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset; border-radius: 9999px; border: 1px #120EDF solid"></div>
    <img style="width: 200px; height: 200px; left: 618px; top: 729px; position: absolute; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset; border-radius: 9999px; border: 1px #120EDF solid" src="https://via.placeholder.com/200x200" />
    <img style="width: 200px; height: 200px; left: 916px; top: 732px; position: absolute; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset; border-radius: 9999px; border: 1px #120EDF solid" src="https://via.placeholder.com/200x200" />
    <img style="width: 200px; height: 200px; left: 1214px; top: 732px; position: absolute; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset; border-radius: 9999px; border: 1px #120EDF solid" src="https://via.placeholder.com/200x200" />
    <a href="lien_produit_1">
        <div style="width: 139px; height: 34px; left: 67px; top: 959px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Product 1</div>
    </a>

    <a href="lien_produit_2">
        <div style="width: 139px; height: 34px; left: 369px; top: 959px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Product 2</div>
    </a>

    <a href="lien_produit_3">
        <div style="width: 139px; height: 34px; left: 671px; top: 959px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Product 3</div>
    </a>

    <a href="lien_produit_4">
        <div style="width: 139px; height: 34px; left: 973px; top: 959px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Product 4</div>
    </a>

    <a href="lien_produit_5">
        <div style="width: 139px; height: 34px; left: 1275px; top: 959px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Product 5</div>
    </a>

    <div style="width: 620px; height: 49px; left: 30px; top: 613px; position: absolute; color: black; font-size: 48px; font-family: Inter; font-style: italic; font-weight: 600; word-wrap: break-word">Explore popular products</div>
    <img style="width: 149px; height: 95px; left: 45px; top: 781px; position: absolute" src="https://via.placeholder.com/149x95" />
    <img style="width: 198px; height: 198px; left: 321px; top: 730px; position: absolute; border-radius: 99.75px" src="https://via.placeholder.com/198x198" />
</div>
<div style="width: 36px; height: 21px; position: relative">
    <div style="width: 36px; height: 21px; left: 0px; top: 0px; position: absolute; background: white"></div>
    <div style="width: 36px; height: 21px; left: 0px; top: 0px; position: absolute">
        <div style="width: 11.25px; height: 21px; left: 24.75px; top: 0px; position: absolute; background: #F50100"></div>
        <div style="width: 13.50px; height: 21px; left: 0px; top: 0px; position: absolute; background: #2E42A5"></div>
        <div style="width: 13.50px; height: 21px; left: 11.25px; top: 0px; position: absolute; background: #F7FCFF"></div>
    </div>
</div>
<div style="width: 36px; height: 21px; position: relative">
    <div style="width: 36px; height: 21px; left: 0px; top: 0px; position: absolute; background: white"></div>
    <div style="width: 36px; height: 21px; left: 0px; top: 0px; position: absolute">
        <div style="width: 36px; height: 21px; left: 0px; top: 0px; position: absolute; background: #2E42A5"></div>
        <div style="width: 36px; height: 21px; left: 0px; top: 0px; position: absolute">
            <div style="width: 36px; height: 21px; left: 0px; top: 0px; position: absolute; background: white"></div>
            <div style="width: 36px; height: 21px; left: 0px; top: 0px; position: absolute">
                <div style="width: 36px; height: 21px; left: 0px; top: 0px; position: absolute; background: white"></div>
                <div style="width: 45.12px; height: 24.75px; left: -4.76px; top: -1.91px; position: absolute">
                    <div style="width: 44.37px; height: 24.02px; left: 0.75px; top: -0px; position: absolute; background: white"></div>
                    <div style="width: 41.78px; height: 24.24px; left: 1.84px; top: 0.51px; position: absolute; background: #F50100"></div>
                    <div style="width: 44.37px; height: 24.02px; left: 0.40px; top: -0px; position: absolute; background: white"></div>
                    <div style="width: 44.50px; height: 23.35px; left: 0px; top: 0.88px; position: absolute; background: #F50100"></div>
                    <div style="width: 40.50px; height: 24.50px; left: 2.54px; top: 0.16px; position: absolute; background: #F50100"></div>
                    <div style="width: 40.50px; height: 24.50px; left: 2.54px; top: 0.16px; position: absolute">
                        <div style="width: 40.50px; height: 24.50px; left: 0px; top: 0px; position: absolute; background: white"></div>
                        <div style="width: 45px; height: 28px; left: -2.25px; top: -1.75px; position: absolute; background: white"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="width: 28px; height: 28px; background: #212121"></div>
<!--Colors

#000000

#000000

#120DDF

#1584D4

#1861EE

#212121

#2E42A5

#D9D9D9

#F50100

#F7FCFF

#FFFFFF
Gradients

