@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div style="width: 1440px; height: 1024px; position: relative; background: white">
    <div style="width: 1440px; height: 74px; left: 0px; top: 0px; position: absolute; background: #D9D9D9">
<a href="page_help.html" style="width: 130px; height: 16px; left: 387px; top: 17px; position: absolute; color: #74360A; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word; text-decoration: none;">Help and contact</a>

<a href="page_sell.html" style="width: 37px; height: 15px; left: 842px; top: 18px; position: absolute; color: #2E42A5; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word; text-decoration: none;">Sell</a>

<div style="width: 1440px; height: 116px; position: absolute; background: #D9D9D9; top: 74px;">
  <div style="width: 150px; height: 53px; left: 268px; top: 31px; position: absolute">
      <div style="width: 80px; height: 40px; left: 12px; top: 9px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Shop by category</div>
  </div>
  <input type="text" style="width: 260px; height: 39px; left: 569px; top: 38px; position: absolute; mix-blend-mode: screen; background: #D9D9D9; padding: 5px;" placeholder="Enter category">
  <div style="width: 161px; height: 43px; left: 976px; top: 36px; position: absolute; background: #1584D4; border-radius: 20px"></div>
  <button type="button" style="width: 90px; height: 31px; left: 1033px; top: 42px; position: absolute; color: white; font-size: 24px; font-family: Inter; font-weight: 400; background-color: #1584D4; border: none; border-radius: 5px; cursor: pointer;">Search</button>
  <div style="width: 28px; height: 28px; left: 991px; top: 44px; position: absolute; background: #212121"></div>
  <div style="width: 65px; height: 46px; padding-left: 0.01px; padding-right: 0.01px; left: 87px; top: 30px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
      <div style="width: 64.98px; height: 46px; background: linear-gradient(316deg, #FFE792 0%, #A95B00 19%, #FBEB9C 31%, #994C00 50%, #FBEB9C 72%, #A84E1D 86%, #F7CF61 100%)"></div>
  </div>
</div>   

<div style="width: 130px; height: 16px; left: 129px; top: 16px; position: absolute; color: rgba(8.64, 131.31, 42.99, 0.88); font-size: 16px; font-family: Inter; font-weight: 300; word-wrap: break-word">Hi Client !</div>
      <div style="width: 40px; height: 23.64px; left: 1102px; top: 16px; position: absolute">
        <div style="width: 40px; height: 23.64px; left: 0px; top: 0px; position: absolute; background: white"></div>
        <div style="width: 40px; height: 23.64px; left: 0px; top: 0px; position: absolute">
          <div style="width: 12.50px; height: 23.64px; left: 27.50px; top: 0px; position: absolute; background: #F50100"></div>
          <div style="width: 15px; height: 23.64px; left: 0px; top: 0px; position: absolute; background: #2E42A5"></div>
          <div style="width: 15px; height: 23.64px; left: 12.50px; top: 0px; position: absolute; background: #F7FCFF"></div>
        </div>
      </div>
      <div style="width: 40px; height: 23px; left: 1239px; top: 17px; position: absolute">
        <div style="width: 40px; height: 23px; left: 0px; top: 0px; position: absolute; background: white"></div>
        <div style="width: 40px; height: 23px; left: 0px; top: 0px; position: absolute">
          <div style="width: 40px; height: 23px; left: 0px; top: 0px; position: absolute; background: #2E42A5"></div>
          <div style="width: 40px; height: 23px; left: 0px; top: 0px; position: absolute">
            <div style="width: 40px; height: 23px; left: 0px; top: 0px; position: absolute; background: white"></div>
            <div style="width: 40px; height: 23px; left: 0px; top: 0px; position: absolute">
              <div style="width: 40px; height: 23px; left: 0px; top: 0px; position: absolute; background: white"></div>
              <div style="width: 50.13px; height: 27.10px; left: -5.29px; top: -2.09px; position: absolute">
                <div style="width: 49.30px; height: 26.30px; left: 0.84px; top: 0px; position: absolute; background: white"></div>
                <div style="width: 46.42px; height: 26.54px; left: 2.04px; top: 0.56px; position: absolute; background: #F50100"></div>
                <div style="width: 49.30px; height: 26.30px; left: 0.45px; top: 0px; position: absolute; background: white"></div>
                <div style="width: 49.44px; height: 25.57px; left: 0px; top: 0.97px; position: absolute; background: #F50100"></div>
                <div style="width: 45px; height: 26.83px; left: 2.82px; top: 0.18px; position: absolute; background: #F50100"></div>
                <div style="width: 45px; height: 26.83px; left: 2.82px; top: 0.18px; position: absolute">
                  <div style="width: 45px; height: 26.83px; left: 0px; top: 0px; position: absolute; background: white"></div>
                  <div style="width: 50px; height: 30.67px; left: -2.50px; top: -1.92px; position: absolute; background: white"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="width: 30px; height: 30.61px; left: 977px; top: 13px; position: absolute">
        <div style="width: 30px; height: 20.40px; left: 0px; top: 0px; position: absolute; background: #212121"></div>
        <div style="width: 7.65px; height: 7.65px; left: 7.65px; top: 22.95px; position: absolute; background: #212121"></div>
        <div style="width: 7.65px; height: 7.65px; left: 17.85px; top: 22.95px; position: absolute; background: #212121"></div>
      </div>
      <div style="width: 25px; height: 31.25px; left: 66px; top: 12px; position: absolute; background: #212121"></div>
    </div>
    <div style="width: 284px; height: 30px; left: 578px; top: 236px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Post your product here !</div>
    <div style="width: 660px; height: 39px; left: 387px; top: 289px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Please fill in the following form so that the buyers will find you easily</div>
    <div style="width: 802px; height: 583px; left: 300px; top: 361px; position: absolute; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border: 1px #D9D9D9 solid">
      <div style="width: 262px; height: 32px; left: 47px; top: 27px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Enter your product’s name</div>
      <div style="position: absolute; left: 47px; top: 27px; display: flex; align-items: center;">
        <div style="width: 262px; height: 32px; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word;">Enter your product’s name</div>
        <input type="text" id="productName" name="productName" style="margin-left: 10px; height: 32px; font-size: 20px; font-family: Inter; font-weight: 400; border: 1px solid #ccc; padding: 5px;" placeholder="Product Name">
    </div>
    
      <div style="width: 290px; height: 31px; left: 47px; top: 354px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Select your product’s image</div>
      <div style="width: 262px; height: 31px; left: 47px; top: 251px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Enter your product’s price</div>
      <div style="position: absolute; left: 47px; top: 251px; display: flex; align-items: center;">
        <div style="width: 262px; height: 31px; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word;">Enter your product’s price</div>
        <input type="text" id="productPrice" name="productPrice" style="margin-left: 10px; height: 31px; font-size: 20px; font-family: Inter; font-weight: 400; border: 1px solid #ccc; padding: 5px;" placeholder="Product Price">
    </div>
      <div style="padding-top: 24px; padding-bottom: 9px; padding-left: 7px; padding-right: 27.86px; left: 39px; top: 113px; position: absolute; background: white; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border: 1px #F7FCFF solid; justify-content: flex-start; align-items: flex-start; gap: 230px; display: inline-flex">
        <div style="width: 327px; height: 33px; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Choose your product’s category</div>
        <div style="display: flex; align-items: center;">
          <select id="productCategory" name="productCategory" style="margin-left: 10px; height: 33px; font-size: 20px; font-family: Inter; font-weight: 400; border: 1px solid #ccc; padding: 5px;">
              <option value="electronics">Electronics</option>
              <option value="clothing">Clothing</option>
              <option value="books">Books</option>
              <!-- Ajoutez d'autres options au besoin -->
          </select>
      </div>
      
      </div>
      <div style="width: 260px; height: 39px; left: 401px; top: 23px; position: absolute; mix-blend-mode: screen; background: rgba(217, 217, 217, 0.35)"></div>
      <div style="width: 260px; height: 39px; left: 373px; top: 243px; position: absolute; mix-blend-mode: screen; background: rgba(217, 217, 217, 0.35)"></div>
      <div style="width: 119px; height: 15px; left: 479px; top: 358px; position: absolute; color: #1310B6; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">import image</div>
      <div style="width: 245px; height: 50px; left: 47px; top: 458px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Add a description to your product</div>
      <div style="position: absolute; left: 47px; top: 458px; display: flex; align-items: center;">
        <div style="width: 245px; height: 50px; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word;">Add a description to your product</div>
        <textarea id="productDescription" name="productDescription" style="margin-left: 10px; height: 50px; width: 300px; font-size: 20px; font-family: Inter; font-weight: 400; border: 1px solid #ccc; padding: 5px;" placeholder="Product Description"></textarea>
    </div>
      <div style="width: 398px; height: 108px; left: 340px; top: 429px; position: absolute; mix-blend-mode: screen; background: rgba(217, 217, 217, 0.35)"></div>
    </div>
    <div style="width: 161px; height: 43px; left: 1178px; top: 557px; position: absolute; background: #1584D4; border-radius: 20px"></div>
    <button type="button" style="width: 90px; height: 31px; left: 1233px; top: 563px; position: absolute; color: white; font-size: 24px; font-family: Inter; font-weight: 400; background-color: #1584d4; border: none; border-radius: 5px; cursor: pointer;">Post</button>
    <div style="width: 161px; height: 43px; left: 1178px; top: 691px; position: absolute; background: #F50100; border-radius: 20px"></div>
    <button type="button" style="width: 90px; height: 31px; left: 1229px; top: 697px; position: absolute; color: white; font-size: 24px; font-family: Inter; font-weight: 400; background-color: #f50100; border: none; border-radius: 5px; cursor: pointer;">Reset</button>
  </div>
  